ADMIN_EMAIL=
ADMIN_KEY=
ADMIN_ORG=
ADMIN_ORG_UUID=
ADMIN_PASSWORD=
ATTACHMENTS_DIR=
BASE_URL=https://<change>
CORE_TAG=v2.5.36
CRON_USER_ID=
ENABLE_BACKGROUND_UPDATES=
ENABLE_DB_SETTINGS=
ENABLE_THEMES=1
ENCRYPTION_KEY=
GPG_PASSPHRASE=
GUARD_TAG=v1.2
MODULES_TAG=v3.0.7
PHP_VER=20240924
PYPI_SETUPTOOLS_VERSION===80.3.1
PYPI_SUPERVISOR_VERSION===4.2.5
SALT=
SMARTHOST_ADDRESS=
SMARTHOST_ALIASES=
SMARTHOST_PASSWORD=
SMARTHOST_PORT=
SMARTHOST_USER=
SYNCSERVERS=
SYNCSERVERS_1_KEY=
SYNCSERVERS_1_NAME=
SYNCSERVERS_1_PULL_RULES=
SYNCSERVERS_1_URL=
SYNCSERVERS_1_UUID=
UUID=
